@import url(https://fonts.google.com/specimen/Ubuntu?selection.family=Ubuntu);
.ev1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ev1 li {
  margin-right: 1.538em;
  margin-top: 0.66em;
  list-style-type: none;
}

.ev1 li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.container {
  width: 100%;
  margin: auto;
  background-image: url(../assets/particle-bg.png);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: white;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 11vh;
  margin-top: 20%;
}

h2 {
  font-size: 5.5vh;
  margin-top: 0em;
}

h3 {
  color: #4a4a4a;
}

.scroll {
  padding-bottom: 5em;
}

.scroll object {
  margin-top: 13em;
  width: 9em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: white;
  text-align: center;
}

.grid {
  margin-top: 50px;
}

.grid h3 {
  font-weight: bold;
  font-size: 3.4em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid-context li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  list-style-type: none;
  background-color: #6627BF;
  padding: 20px;
  margin-bottom: 20px;
}

.grid-context li a {
  color: white;
  margin-bottom: 20px;
  font-size: 4vh;
}

.grid-context li p {
  color: white;
  margin-bottom: 1vh;
}

.grid-context li .grid-list {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: auto;
}

.grid-context li .grid-list i {
  margin: auto;
  font-size: 3em;
}

.ra1,
.ra2, .ra3 {
  margin: auto;
  width: 100%;
  height: auto;
}

hr {
  color: #c2c2c2;
  width: 30%;
  margin: auto;
  margin-top: 70px;
}

.subfooter-container {
  background-image: url(../assets/vtest.png);
  background-size: 100% 100%;
  overflow: hidden;
  min-height: 50em;
}

.subfooter-container ul {
  margin-top: 3em;
  margin-bottom: 3em;
}

.subfooter-container ul li {
  list-style: none;
  width: 40%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: start;
}

.subfooter-container ul li .title {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.subfooter-container ul li .subtext {
  text-align: start;
  color: #aaa8a8;
  font-size: 0.9em;
}

.subfooter-container ul li .text-description {
  text-align: start;
  margin-top: 5px;
  font-size: 0.95em;
  color: white;
}

footer {
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  color: #7340c9;
  margin: 0 15px 0 15px;
}

footer p {
  color: #4a4a4a;
}

footer a,
footer p {
  font-size: 3.4em;
}

.bottom-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.bottom-buttons ul li {
  margin: 0 5px 0px 5px;
}

.bottom-buttons ul li a {
  text-decoration: none;
  font-size: 3em;
}

@media screen and (max-width: 1024px) {
  .container .scroll {
    padding-bottom: 10em;
  }
  .container .scroll img {
    margin-top: 23em;
  }
  .container h1 {
    font-size: 3.4em;
  }
  .container h2 {
    font-size: 2em;
  }
  .grid .grid-context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .grid .grid-context li {
    margin-bottom: 25px;
  }
  .grid-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .grid-list li {
    padding: 0px;
    padding-top: 25px;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .subfooter-container {
    min-height: 40em;
  }
  .subfooter-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subfooter-container ul li {
    width: 70%;
  }
  .subfooter-container ul li .title {
    font-size: 1.5em;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    margin-top: 3em;
    margin-bottom: 3em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer a {
    font-size: 2.5vh;
  }
  footer p {
    margin: auto;
    padding-right: 0px;
    font-size: 2vh;
  }
}
/*# sourceMappingURL=page.css.map */